<div class="container">
  <div class="row">
    <div class="col text-center">
      <button
        *ngIf="projects.length == 0 || !activeProjectExists(); else stop_timer"
        class="btn btn-outline-dark btn-lg my-5"
        (click)="startTimer()"
      >
        Start
      </button>
      <ng-template #stop_timer>
        <button
          class="btn btn-outline-dark btn-lg my-5"
          (click)="stopTimer(modal)"
        >
          Stop
        </button>
      </ng-template>
    </div>
  </div>
  <div class="row">
    <div class="col text-end fs-5">
      Timer: {{ timerFormat() | date: "HH:mm:ss" }}s
    </div>
  </div>
  <div class="row">
    <div *ngIf="this.projects.length > 0" class="col">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Project Name</th>
            <th scope="col">Start</th>
            <th scope="col">Stop</th>
            <th scope="col">Duration</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <!-- <tr *ngFor="let project of this.projects; let i = index"> -->
          <tr
            *ngFor="
              let project of projects
                | paginate
                  : {
                      itemsPerPage: limit,
                      currentPage: page,
                      totalItems: count
                    };
              let i = index
            "
          >
            <td>{{ project.name }}</td>
            <td>{{ project.start_time | date: "yyyy-MM-dd h:mm:ss" }}</td>
            <td>{{ project.end_time | date: "yyyy-MM-dd h:mm:ss" }}</td>
            <td>
              {{
                getProjectDuration(i) === "" ? " . . ." : getProjectDuration(i)
              }}
            </td>
            <td *ngIf="project.end_time !== null; else actions_if_no_end_time">
              <button
                class="btn btn-outline-dark btn-sm"
                (click)="editProject(i, modal)"
              >
                Edit
              </button>
              <button
                class="btn btn-outline-dark btn-sm ms-2"
                (click)="removeProject(i)"
              >
                Remove
              </button>
            </td>
            <ng-template #actions_if_no_end_time>
              <td>
                <button
                  class="btn btn-outline-dark btn-sm ms-2"
                  (click)="removeProject(i)"
                >
                  Remove
                </button>
              </td>
            </ng-template>
          </tr>
        </tbody>
      </table>

      <!-- Pagination -->
      <div class="d-flex">
        <pagination-controls
          class="flex-grow-1"
          (pageChange)="changePage($event)"
        ></pagination-controls>
        <label class="mt-2 me-2">Items per page:</label>
        <div>
          <select
            [(ngModel)]="limit"
            class="form-select"
            aria-label="Default select example"
            (change)="changeLimit()"
          >
            <option *ngFor="let option of limitOptions">
              {{ option }}
            </option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="projects.length > 0" class="row mt-2">
    <div class="col-6 text-start">
      <button
        *ngIf="!activeProjectExists()"
        class="btn btn-outline-dark"
        (click)="downloadCsv()"
      >
        Export to .csv
      </button>
    </div>
    <div class="col-6 text-end">
      <button class="btn btn-outline-dark" (click)="removeAllProjects()">
        Remove All Projects
      </button>
    </div>
  </div>
  <!-- Modal - put later in seperate component  -->
  <ng-template #modal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">
        {{ editingFlag ? "Edit Project" : "Save Stopped Project" }}
      </h4>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.close()"
      ></button>
    </div>
    <div class="modal-body">
      <div class="mb-3">
        <label for="dateOfBirth">Project Name:</label>
        <div class="input-group">
          <input
            type="text"
            maxlength="25"
            class="form-control"
            id="project-name"
            [(ngModel)]="project_name"
          />
        </div>
      </div>
    </div>
    <div class="modal-footer text-center" style="justify-content: center">
      <button
        type="button"
        class="btn btn-outline-dark"
        (click)="saveStoppedProject(modal)"
      >
        {{ editingFlag ? "Save Edit" : "Stop Timer" }}
      </button>
    </div>
  </ng-template>
</div>
